{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- basic -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- mobile metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--meta name="viewport" content="initial-scale=1, maximum-scale=1"-->
  <!-- site metas -->
  <title>Skylon Kenya</title>
  <meta name="keywords" content="skylon, Skylon, Schools, Kenya">
  <meta name="description" content="Skylon Schools Kenya website. We provide ">
  <meta name="author" content="Skylon Education">
  <!-- fevicon -->
  <link rel="icon" href="{% static 'images/logo_navy.png' %}" type="image/gif" />
  <!-- bootstrap css -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <!-- style css -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <!-- Responsive-->
  <link rel="stylesheet" href="{% static 'css/responsive.css' %}">  
  <!-- Scrollbar Custom CSS -->
  <link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css'%}">
  <!-- Tweaks for older IEs-->
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->

  <link rel="stylesheet" href="{% static 'css/custom.css' %}">  

</head>
<!-- body -->

<body class="main-layout">
  <!-- loader  -->
  <div class="loader_bg">
    <div class="loader"><img src="{% static 'images/loading.gif' %}" alt="#" /></div>
  </div>
  <!-- end loader -->
  <!-- header -->
  <header>
    <!-- header inner -->
    <div class="header-top">
      <div class="header">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xl-2 col-lg-4 col-md-4 col-sm-3 col logo_section">
              <div class="full">
                <div class="center-desk">
                  <div class="logo">
                    <a href="{% url 'home' %}"><img  style="margin-top:10px;" src="{% static 'images/logo_purp_white.png' %}" alt="#" /></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-10 col-lg-8 col-md-8 col-sm-12">
              <div class="header_information">
                <div class="menu-area">
                  <div class="limit-box">
                    <nav class="main-menu ">
                      <ul class="menu-area-main">
                        <li class="active"> <a href="{% url 'home' %}#welcome">Home</a> </li>
                        <li> <a href="{% url 'home' %}#about">About Us</a> </li>
                        <li> <a href="{% url 'home' %}#classes">Grades</a> </li>
                        <li> <a href="{% url 'home' %}#fees">FEES & Trips</a> </li>
                        <li> <a href="#learn">OUR Campus </a></li>
                        <li> <a href="{% url 'jobs' %}">Jobs</a> </li>
                        <li> <a href="#contact">Contact</a> </li>
                        <li><a></a> </li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
            </div>

        </div>
      </div>
    </div>
    <!-- end header inner -->

    {% block content %}

    {% endblock %}
    

<!-- learn -->


<div id="learn" class="learn">
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="titlepage">
          <h2 style="text-align: center;">Our <strong class="yellow">Campus</strong></h2>
          <span>Swipe LEFT or RIGHT to see pictures.</span>
        </div>
      </div>
    </div>
    <div class="row">
      <!--div class="col-xl-12 col-lg-6 col-md-6 col-sm-12">
        <div div class="responsive-iframe-container">
          <figure>          
            <iframe src="https://www.youtube.com/embed/WqAlmksVE2I" title="Cyani - Give Me Love (Unofficial Video)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          </figure>
        </div>
      </div-->

      <div class="col-xl-12 col-lg-6 col-md-6 col-sm-12">
        <div style="position: relative; width: 100%; height: 0; padding-top: 72.7273%;
              padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden;
            border-radius: 8px; will-change: transform;">
            <iframe loading="lazy" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
                src="https://www.canva.com/design/DAGeohEDYhA/9uKym2SqC38UaawWgk1kCw/view?embed" allowfullscreen="allowfullscreen" allow="fullscreen">
            </iframe>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- MAKE --> 
<div class="make">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="titlepage">
          <h2>Choose Us Today! <strong class="white_colo">Choose The Future!</strong></h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
        <div class="make_text">
          <p>Discover a transformative primary education at our school, where we cultivate excellence 
            by seamlessly integrating cutting-edge digital tools into a nurturing learning environment.  
            We empower students to thrive in the digital age, fostering critical thinking, creativity, and 
            collaboration through interactive technology.  Our curriculum blends core subjects with digital literacy, 
            preparing children for future success.  Experienced educators guide students in responsible technology use, 
            ensuring a balanced and enriching learning experience.  Beyond academics, our vibrant community offers 
            diverse extracurriculars, nurturing well-rounded individuals. Choose our school for a forward-thinking 
            education that equips your child with the skills and confidence to excel in a rapidly evolving world.  
            Enroll today and unlock their full potential.</p>
          <a href="Javascript:void(1)">Call +254795755362</a>
        </div>
      </div>
      <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
        <div class="make_img">
          <figure><img src="{% static 'images/4_page.jpeg' %}"></figure>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end MAKE --> 
<!-- end learn --> 

<!--style>
  .responsive-iframe-container {
    position: relative;
    padding-bottom: 90%;/*56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
  }
  
  .responsive-iframe-container iframe {
    position: absolute;
    top: 50px;
    left: 20px;
    width: 90%;
    height: 100%;
  }
</style-->

<!-- contact -->
<div id="contact" class="contact">
  <div class="container-fluid padding_left2" style="top: 10px;">
    <div class="white_color">
      <div class="row">

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
          <div class="responsive-iframe-container">

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2820.517386347741!2d37.06798767043452!3d-1.285639289049666!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f6ec5cc3edc73%3A0x2230f3ea987e8229!2sTrue%20Vine%20High%20School!5e0!3m2!1sen!2sde!4v1739126261429!5m2!1sen!2sde" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>          
        </div>

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
          <form id="myform" class="contact_bg" method="post" action="{% url 'process_footer_contact' %}">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-12">
                <div class="titlepage">
                  <h2>Contact <strong class="yellow">us</strong></h2>
                </div>
              </div>
              <div class="col-md-12">
                {{contact_form.name}}
              </div>
              <div class="col-md-12">
                {{contact_form.email }}
              </div>
              <div class="col-md-12">
                {{contact_form.phone }}
              </div>
              <div class="col-md-12">
                {{contact_form.message }}
              </div>
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <button class="send">Send</button>
              </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- end contact -->

    <!--  footer -->
    <footr>
      <div class="footer" style="background-color: #000044;">
        <div class="container">
          <div class="row" >            
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
              <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 ">
                  <div class="address">
                    <h3>Contact us </h3>
                    <ul class="loca">
                      <li>
                        <a href="#"><img src="{% static 'icon/loc.png' %}" alt="#" /></a>Kagundo Road
                        <br>Kamulu, Nairobi </li>
                        <li>
                          <a href="#"><img src="{% static 'icon/email.png' %}" alt="#" /></a>skyloneducation@gmail.com </li>
                          <li>
                            <a href="#"><img src="{% static 'icon/call.png' %}" alt="#" /></a>+254 795 755 362</li>
                          </ul>
                          <ul class="social_link">
                            <li><a href="https://www.facebook.com/profile.php?id=61567798157527"><img src="{% static 'icon/fb.png' %}"></a></li>
                            <li><a href="https://www.linkedin.com/company/skyloneducation/"><img src="{% static 'icon/lin(2).png' %}"></a></li>
                            <li><a href="https://x.com/skylonEN"><img src="{% static 'icon/tw.png' %}"></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="address">
                          <h3>Classes</h3>
                          <ul class="Menu_footer">
                            <li class="active"> <a href="#">Kindergarten(Reception, PP1, PP2)</a> </li>
                            <li><a href="#">Primary(Grade 1, Grade 2, Grade 3)</a> </li>
                            <li><a href="#">Primary(Grade 4, Grade 5, Grade 6)</a> </li>
                            <li><a href="#">Junior Secondary(Grade 7, Grade 8, Grade 9)</a> </li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-6 col-sm-6 ">
                        <div class="address">
                          <a href="{% url 'home' %}"> <img src="{% static 'images/logo_down.png' %}" alt="logo"></a>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>

              </div>
              <div class="copyright">
                <div class="container">
                  <p>Copyright © 2025 Skylon Schools Kenya. <a href="https://html.design/">Templates </a></p>
                </div>
              </div>
            </div>
          </footr>
          <!-- end footer -->
          <!-- Javascript files-->
          <script src="{%static 'js/jquery.min.js' %}"></script>
          <script src="{%static 'js/popper.min.js' %}"></script>
          <script src="{%static 'js/bootstrap.bundle.min.js' %}"></script>
          <script src="{%static 'js/jquery-3.0.0.min.js' %}"></script>
          <script src="{%static 'js/plugin.js' %}"></script>
          <!-- sidebar -->
          <script src="{%static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
          <script src="{%static 'js/custom.js' %}"></script>
          <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
          <!--script>
            document.getElementById('myForm').addEventListener('submit', function(event) { alert('Message sent successfully!'); // Or any other message});
          </script-->

</body>

</html>