{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- end header -->
<section id="welcome" class="slider_section">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container-fluid padding_dd">
            <div class="carousel-caption">
              <div class="row">
                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                  <div class="text-bg">
                    <h1 style="color: #6a0dad;">WELCOME TO Cultivating Excellence, One student at a Time</h1>
                    <p style="color: #fd5e0f;">Welcome to Skylon Schools Kenya</p>
                    <a href="https://wa.me/+33764582008">WHATSAPP</a> <a href="https://wa.me/+491714969410">CALL US</a>
                  </div>
                </div>
                <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
                  <div class="images_box" style="height: 790;">
                    <figure style="height: 790;"><img src="{% static 'images/1_welcome.JPG' %}"></figure>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">

          <div class="container-fluid padding_dd">
            <div class="carousel-caption">

              <div class="row">
                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                  <div class="text-bg">
                    <h1 style="color: #6a0dad;">WELCOME TO Cultivating Excellence, One student at a Time</h1>
                    <p style="color: #fd5e0f;">Welcome to Skylon Schools Kenya</p>
                    <a href="https://wa.me/+33764582008">WHATSAPP</a> <a href="https://wa.me/+491714969410">CALL US</a>
                  </div>
                </div>
                <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
                  <div class="images_box" style="height: 790;">
                    <figure style="height: 790;"><img src="{% static 'images/1_flag.png' %}"></figure>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="carousel-item">
          <div class="container-fluid padding_dd">
            <div class="carousel-caption ">
              <div class="row">
                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                  <div class="text-bg">
                    <h1 style="color: #6a0dad;">WELCOME TO Cultivating Excellence, One student at a Time</h1>
                    <p style="color: #fd5e0f;">Welcome to Skylon Schools Kenya</p>
                    <a href="https://wa.me/+33764582008">WHATSAPP</a> <a href="https://wa.me/+491714969410">CALL US</a>
                  </div>
                </div>
                <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
                  <div class="images_box" style="height: 790;">
                    <figure><img src="{% static 'images/1_front.JPG' %}"></figure>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

</section>
</div>
</header>

<hr>

<!-- about  -->
<div id="about" class="about">
<div class="container">
  <div class="row">
    
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
      <div class="about-box">
        <h2>Our <strong class="yellow">Mission</strong></h2>
        <p> Skylon schools Kenya is a private, affordable school dedicated to nurturing each student’s unique 
          talents and gifts. 
          Through holistic education, we empower learners to reach their potential and become critical thinkers, innovators, and compassionate leaders 
          for a brighter future in their country <br/>Our commitment to personalized learning ensures that every child receives the attention and support they need to thrive academically, socially, and emotionally.  
            We blend a rigorous curriculum with engaging teaching methodologies, fostering a love of learning and encouraging students to explore their interests.  
            Beyond the classroom, a vibrant co-curricular program offers a diverse range of activities, from sports, arts to clubs to 
            community engagement, allowing students to discover their passions and develop essential life skills.  
            At Skylon, we believe in creating a nurturing and inclusive environment where every student feels valued, respected, empowered to succeed and be EXCELLENT.</p>
      </div>
    </div>

    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
      <div class="about-box">
        <figure><img src="{% static 'images/school_bus.jpeg' %}" alt="#" /></figure>
      </div>
    </div>
    
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12" style="top:50px">
      <div class="about-box">
        <h2><strong class="yellow">Our </strong>Vision</h2>
        <p> Our vision is to be a leading educational community, renowned for nurturing individual potential and 
          fostering a lifelong love of learning. We aspire to empower each student to achieve academic excellence, 
          develop strong character, and become a compassionate and engaged global citizen.  We envision a future 
          where Skylon graduates are confident, innovative, and equipped to make a positive impact on the world.  
          By providing a personalized and holistic education, 
          we <span style="font-weight: bold;">cultivate excellence one student at a time</span>, shaping future leaders and inspiring them to reach their full potential.  </p>
      </div>
    </div>
    
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
      <div class="about-box">
        <figure><img src="{% static 'images/2_museum.jpeg' %}" alt="#" /></figure>
      </div>
    </div>

  </div>
</div>
</div>
<!-- end abouts -->



<!-- our -->
<div id="classes" class="important">
<hr>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="titlepage">
        <h2>Classes <strong class="yellow">We Offer</strong></h2>
        <span>We offer classes spanning from Kindergarten, primary to Junior Secondary in our Kamulu Campus</span>
      </div>
    </div>
  </div>
</div>
<div class="important_bg"  style="background-color: #e3cef3;">
  <div class="container">
    <div class="row">

      <div class="col col-sm-3 col-xs-6">
        <div class="important_box">
          <h3>Kindergarten</h3>
          <p><span>Reception</span></p>
          <p><span>PP 1</span></p>
          <p><span>PP 2</span></p>
        </div>
      </div>
      <div class="col col-sm-3 col-xs-6">
        <div class="important_box">
          <h3>Primary</h3>
          <p><span>Grade 1</span></p>
          <p><span>Grade 2</span></p>
          <p><span>Grade 3</span></p>
        </div>
      </div>
      <div class="col col-sm-3 col-xs-6">
        <div class="important_box">
          <h3>Primary</h3>            
          <p><span>Grade 4</span></p>
          <p><span>Grade 5</span></p>
          <p><span>Grade 6</span></p>
        </div>
      </div>
      <div class="col col-sm-3 col-xs-6">
        <div class="important_box">
          <h3>Junior Secondary</h3>
          <p><span>Grade 7</span></p>
          <p><span>Grade 8</span></p>
          <p><span>Grade 9</span></p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>

<!-- Field Trips  -->
<div id="fees" class="about">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="about-box">
                  <h2>Fees <strong class="yellow"> Structure</strong></h2>
                  <a class="send" href="{% static 'images/Term_2_flyer.png' %}" style="text-transform: none;" download>Download Brochure</a>
                  <br/>
                  <img src="{% static 'images/Term_2_flyer.png' %}" alt="#" />
                </div>
                
          </div>
      </div>
  </div>
</div>

<hr>
<!-- Field Trips  -->
<div id="trips" class="about"  style="background: radial-gradient(circle, rgba(238,238,238,1) 89%, rgba(253,94,15,1) 100%);">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="titlepage">
          <h2>Field <strong class="yellow">Trips</strong></h2>
        </div>
      </div>

      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
          <div class="about-box">
            <h2>Nairobi <strong class="yellow">Museum</strong></h2>
            <div class="about-box">
              <figure><img src="{% static 'images/museum_2.png' %}" alt="#" /></figure>
            </div>
            <p> Most people believe that creativity is a skill people are born with! But here at Skylon Schools Kenya, we believe that creativity can also be incited at a younger age through exposure.  
              We foster a stimulating learning environment where children are encouraged to explore, experiment, and express themselves freely.                <br/>
            </p>
          </div>
        </div>

      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
          <div class="about-box">
              <figure><img src="{% static 'images/museum_1.png' %}" alt="#" /></figure>
          </div>
      </div>
      
  
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
          <div class="about-box">
            <hr>
            <h2><strong class="yellow">Jomo Kenyatta </strong>Airport</h2>              
            <p>Through diverse activities, hands-on projects, and a curriculum designed to spark curiosity, we nurture each child's innate potential. 
              We believe that early exposure to different art forms, problem-solving scenarios, and collaborative projects ignites their creative spark, empowering them to become innovative thinkers and confident creators.  
             <img src="{% static 'images/airport_1.png' %}" alt="#"/></p>
          </div>
      </div>

      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
          <div class="about-box">
            <hr>
              <figure><img src="{% static 'images/airport_3.png' %}" alt="#"/></figure>
          </div>
          <p class="yellow"><br/>  <br/> At Skylon Schools Kenya, we don't only teach; we also inspire!</p>
      </div>    
  
      </div>
  </div>
</div>
<!-- end trips -->


<!-- end our -->
<!-- Courses -->
<div id="courses" class="Courses">
<div class="container-fluid padding_left3">
  <div class="titlepage" style="text-align: center;">
    <h2 style="text-align: center;">Teaching <strong class="yellow"> Pillars</strong></h2>
  </div>
  <div class="row">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
      <div class="box_bg">
        <div class="box_bg_img">
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
              <div class="box_my">
                <figure><img src="{% static 'images/3_excellence.png'%}"></figure>
                <div class="overlay">
                  <h3>Academic Excellence</h3>
                  <p>Building strong foundations, igniting potential, and celebrating every child's unique learning journey.</p>
                </div>
              </div>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
              <div class="box_my">
                <figure><img src="{% static 'images/3_technology.png' %}"></figure>
                <div class="overlay">
                  <h3>Digital Technology</h3>
                  <p>Empowering young learners with digital skills for a bright future:  innovation, creativity, and technology use to match up with their era.</p>
                </div>
              </div>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
              <div class="box_my">
                <figure><img src="{% static 'images/3_curricular.png'%}"></figure>
                <div class="overlay">
                  <h3>Co-curricular Activities</h3>
                  <p>Exploring passions, building teamwork, and discovering talents beyond the classroom: enriching education through co-curricular activities.</p>
                </div>
              </div>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
              <div class="box_my">
                <figure><img src="{% static 'images/3_religious.png' %}"></figure>
                <div class="overlay">
                  <h3>Ethical & Religious Ethos</h3>
                  <p>Fostering respect, empathy, and understanding: building a community grounded in strong ethical and religious values.</p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
      <div class="box_text">
        <p style="text-align: center; color: #6a0dad; font-size: x-large;">Teaching Staff </p>
        <p style="text-align: center;"> We select only the best and certified educators with the credentials and 
          expertise to effectively hone students' skills. </p><br/>

        <p style="text-align: center; color:#fd5e0f; font-size: x-large;">Study Tablets</p>
        <p style="text-align: center;"> Installing tablets and Computers to help students enhance their digital skills </p><br/>

        <p style="text-align: center; color:#6a0dad; font-size: x-large;">Football Pitch & Playground</p>
        <p style="text-align: center;"> Our 3-acre campus features a large football and handball pitch, along with a recreational space conducive to relaxation</p><br/>
          
        <p style="text-align: center; color:#fd5e0f; font-size: x-large;">Leadership Development</p>
        <p style="text-align: center;"> We engage students in collaborative projects and problem-solving activities that foster responsibility, critical thinking, and effective communication</p><br/>

      </div>
    </div> 
  </div>
</div>
</div>
<!-- end Courses -->

{% endblock %}
