{% extends 'base.html' %}
{% load static %}


{% block content %}


<!-- about  -->
<div class="about">
  <div class="container"   style="margin-top:150px">
    <div class="row">

      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="about-box">
          <h2>Job <strong class="yellow">Positions</strong></h2>
          <br/>

          {% for job in object_list %}
          <div style="border: 2px solid #D9C4FF;">
              <h3 style="text-decoration: solid;"> {{job}}</h3> <a href="{% url 'job-detail' job.id %}" style="text-transform: none;">Read more...</a>
          </div>
          {% endfor %}

        </div>
      </div>
    </div>
  </div>
</div>
<!-- end abouts -->

{% endblock %}